<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
    <link rel="stylesheet" href="timeline.css">
    <script src="timeline.js"></script>
</head>
    <body>
        <div id="one">
            <div class="time">
                <p class="timeText1">1 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
            <div class="time">
                <p class="timeText1">2 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
            <div class="time">
                <p class="timeText1">3 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
            <div class="time">
                <p class="timeText1">4 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
            <div class="time">
                <p class="timeText1">5 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
            <div class="time">
                <p class="timeText1">6 교시</p>
                <p class="timeText2">(9:05 ~ 9:55)</p>
            </div>
        </div>
        <canvas id="two"></canvas>
        <div id="three">

        </div>
    </body>
</html>