body {
    background-color: #262626;
    margin: 0;
    display: flex;
}

#one {
    width: 20%;
    height: 100vh;
    background-color: white;
}
#two {
    width: 8%;
    height: 100vh;

}
#three {
    width: 72%;
    height: 100vh;
}